.details {
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #555;
	background-color: #fff;

	&__header {
		text-align: center;
	}

	&__table {
		display: flex;
		justify-content: space-between;

		&--header {
			text-align: center;
		}
	}
}
