<section *ngIf="isDataLoaded" class="stickers">
  <h2>{{ stickers.name }}</h2>
  <p class="stickers__paragraph">
    Available for all our valued customers. Show your loyalty now.
  </p>
  <div class="stickers__details">
    <ul>
      <li>
        Price: {{ stickers.details.info.price }}
        {{ stickers.details.info.currency }}
      </li>
      <li>Amount: {{ stickers.details.info.amount }}</li>
    </ul>
    <img
      class="stickers__image"
      src="../../../assets/sticker.jpg"
      alt="Sticker Logo"
    />
  </div>
</section>
