.insurances {
	width: 50%;
	margin: 4rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;

	&__available {
		padding: 1rem;
		border-radius: 5px;
		box-shadow: 1px 1px 5px #555;
		background-color: #fff;
		max-height: min-content;

		&--active {
			color: #43ba63;
		}
	}

	&__link {
		font-size: 0.9rem;
		margin-left: 9px;
		color: #006c8c;
		cursor: pointer;
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
