.insurances {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;

	&__available {
		border: 1px solid #555;
		padding: 1rem;
		border-radius: 5px;
		box-shadow: 1px 1px 2px #555;
		background-color: #fff;
		height: 200px;
	}

	&__link {
		font-size: 0.9rem;
		margin-left: 9px;
		color: #006c8c;
		cursor: pointer;
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
