<section class="customer">
  <div class="customer__details">
    <h2>Personal Details</h2>
    <ul class="customer__list">
      <li><span>Name: </span>{{ customer.name }}</li>
      <li><span>Age: </span>{{ customer.age }}</li>
      <li><span>Membership: </span>{{ customer.membership_type }}</li>
      <span class="customer__list--margin-bot">Active Insurances: </span>
      <li *ngFor="let insurance of customer.selected_insurances">
        {{ insurance }}
      </li>
    </ul>
  </div>
  <div class="products__stickers">
    <app-insurances [customerData]="customer"></app-insurances>
  </div>
</section>
<section class="products">
  <div class="products__insurances">
    <app-stickers></app-stickers>
  </div>
</section>
