<section class="customer">
  <div class="customer__details">
    <h2>Personal Details</h2>
    <ul class="customer__list">
      <div class="customer__personals">
        <li>
          Insured:
          <span> {{ customer.name }}</span>
        </li>
        <li>
          Age: <span>{{ customer.age }}</span>
        </li>
        <p class="customer__membership">
          Membership status:<span class="customer__membership--active">
            {{ customer.membership_type }}</span
          >
        </p>
      </div>
      <div class="customer__insurances">
        <p class="customer__list--margin-bot">Active Insurances:</p>
        <li *ngFor="let insurance of customer.selected_insurances">
          {{ insurance }}
        </li>
      </div>
    </ul>
  </div>
  <app-insurances [customerData]="customer"></app-insurances>
</section>
<section class="products"></section>
<app-stickers></app-stickers>
